h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: underline;
}
h1 {
  cursor: pointer;
}

.card {
  font-size: 75px;
  font-family: Arial;
  border: 3px solid black;
  display: inline-block;
  width: 100px;
  height: 160px;
  text-align: center;
  line-height: 158px;
  border-radius: 12px;
  box-shadow: 1px 4px 5px 2px red;
}
